body {
    background-color:rgb(112, 0, 156)
}
h1 {
    text-align: center;
    color:rgba(178, 180, 44, 0.521)
}
body {
    font-family: Arial, sans-serif;
}
button {
    background-color: blueviolet;
    color:aliceblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background-color: indigo;
}
img[src="image-1.png"] {
    width: 300px;
}img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    border: 3px solid #333;
}