body {
    background-color:rgb(73, 63, 78)
}
h1 {
    text-align: center;
    color:rgba(195, 40, 209, 0.521)
}
body {
    font-family: Arial, sans-serif;
}
button {
    background-color: blueviolet;
    color:aliceblue;
    border: none;
    padding: 10px 20px;36
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background-color: indigo;
}6